fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
alembic
redis
celery
python-dotenv
pydantic-settings
passlib[bcrypt]
PyJWT
prometheus-fastapi-instrumentator
pytest
httpx
pytest-asyncio
pybreaker
slowapi
pytest-cov
tabulate 